# Dependencies
node_modules/

# Environment variables
apikeys.env
.env

# Logs
*.log

# Runtime files
.DS_Store

.vscode/

new.csv
new.py
delete_features.py
tracks.csv
.venv/
delete2.py
another.csv
tracks2.csv
filtered.csv
cleaned.csv

notneeded/